/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #343a40;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-btn {
    background-color: transparent !important; /* Ensures no background color */
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

  .navbar-right .username {
    font-weight: bold;
  }
  
  .drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    z-index: 999;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .close-btn {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .drawer-link {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  
  .drawer-link:hover {
    text-decoration: underline;
  }
  
  .feedback-btn {
    background-color: #21D375;
    color: #e8d5d5;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .logout-btn {
    background-color: #dc3545;
    margin-top: 10px;
    
  }
  